---
import { Icon } from 'astro-icon';
---

<section class="relative">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:bg-gray-800">
				<h2 class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					お問合せ
				</h2>
				<p class="text-base text-gray-600 dark:text-slate-400">
					デモのご依頼やお問い合わせはこちらからお願いいたします。
				</p>

				<div class="mt-6">
					<a
						class="btn text-white bg-rose-700 hover:bg-rose-500 mb-4 sm:mb-0"
						href="https://github.com/onwidget/astrowind"
						target="_blank"
						rel="noopener">
						お問い合わせ &nbsp&rarr;
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
