---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---

<section>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16">
				<h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
					新しい
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-rose-700 to-indigo-500">資源物</span> +
					<span
						class="bg-clip-text text-transparent bg-gradient-to-r from-rose-700 to-indigo-500 sm:whitespace-nowrap">廃棄物</span>
					の管理
				</h1>
				<div class="max-w-3xl mx-auto">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						シンゲンは、資源物・廃棄物の排出事業者とリサイクラー・処理業者をつなぎ、資源循環に向けた取組みを総合的にサポートするサービスプラットフォームです。
						 <span class="inline sm:hidden">...</span><span
							class="hidden sm:inline">サーキュラーエコノミーの構築に向けた取組みをサポートいたします。</span>
					</p>
					<div class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gray-800 hover:bg-gray-500 dark:bg-gray-700 dark:hover:bg-gray-500 w-full"
								href="#features">機能</a>
						</div>

						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white border border-rose-700 bg-rose-700 hover:bg-rose-500 hover:border-rose-500 sm:mb-0 w-full"
								href="/contact"
								target="_blank"
								rel="noopener">
								お問い合わせ &nbsp&rarr;</a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="relative mb-8 m-auto max-w-3xl">
					<Picture
						src={import('~/assets/images/hero.jpg')}
						class="mx-auto rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 w-full"
						widths={[400, 768]}
						sizes=" (max-width: 767px) 400px, 768px"
						alt="Hero Image"
						aspectRatio="16:9"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
