<main class="container max-w-full max-h-full mx-auto p-10">
    <div class="max-w-4xl mx-auto text-gray-700 dark:text-gray-200">
        <h1 class="text-2xl font-bold text-center">プライバシーポリシー</h1>
        <section class="my-10">
            <h2 class="text-xl font-bold">個人情報保護方針</h2>
            <p class="mt-5 text-sm">株式会社サティスファクトリー（以下「当社」といいます。）は、個人情報の保護を重要な社会的責務と認識し、下記の個人情報保護方針を定め、個人情報の取扱い、管理、維持に努めて参ります。</p>

            <h3 class="mt-5 text-rose-700 font-bold">第１条　個人情報の取得、利用・提供</h3>
            <p class="text-sm mt-2">当社は個人情報の取得、利用及び提供にあたっては、個人情報保護の重要性を認識し、適切な取扱いを実施いたします。</p>
            
            <h3 class="mt-5 text-rose-700 font-bold">第２条　個人情報に関する相談・苦情のお問い合わせ</h3>
            <p class="text-sm mt-2">当社は、個人情報に関するお問い合わせや苦情に対し、適切に対応いたします。窓口については、以下の「当社における個人情報の取扱いについて」の第9条に規定するお問合わせ窓口をご参照ください。</p>
            
            <h3 class="mt-5 text-rose-700 font-bold">第３条　個人情報に関する法令等の遵守</h3>
            <p class="text-sm mt-2">当社は、個人情報を取り扱うに際し、個人情報の取り扱いに関する法令、国が定める指針その他の規範を遵守いたします。</p>
            
            <h3 class="mt-5 text-rose-700 font-bold">第４条　継続的な改善</h3>
            <p class="text-sm mt-2">当社は、個人情報保護のためのマネジメントシステムを確立し、実施、維持すると共に、これを定期的に見直し継続的な改善に努めます。</p>
        </section>

        <section class="my-10">
            <h2 class="text-xl font-bold">当社における個人情報の取扱いについて</h2>
            <p class="mt-5 text-sm">株式会社サティスファクトリー（以下「当社」といいます。）は、個人情報保護法及び関連諸法令を遵守し、お客様から提供された個人情報を適切に管理し、以下の通り取扱います。</p>

            <h3 class="mt-5 text-rose-700 font-bold">第１条　個人情報の利用目的</h3>
            <p class="text-sm mt-2">当社は、当社にご提供いただいた個人情報の一部又は全部について、それぞれ、以下の目的で利用いたします。</p>
            <ol class="mt-2 list-decimal list-inside text-sm space-y-3">
                <li>お客様の管理者様・担当者様に関する個人情報
                <ol class="mt-2 ml-3 list-decimal list-inside">
                    <li>契約手続、お客様管理及びこれらに付随する業務の遂行のため</li>
                    <li>当社が提供するサービス等（以下「当社サービス等」といいます。）におけるアカウント発行、各種通知、当社サービス等の提供、維持、保守、改善のため</li>
                    <li>当社サービス等の改善、新サービス等の検討、研究、開発等の目的で行うお客様による当社サービス等の利用状況の調査、当社サービス等に関するネットワーク通信量の調査のため</li>
                    <li>当社サービス等の提供に必要なシステムの開発、改修、保守等のため</li>
                    <li>当社サービス等（今後提供される新サービス等、及び、検討中の新企画を含む。）に関するアンケートを実施するため</li>
                    <li>当社サービス等に関する請求処理のため</li>
                    <li>当社サービス等に関して、統計的なデータを作成するため</li>
                    <li>お客様サポートのため</li>
                    <li>当社サービス等（今後提供される新サービス等、及び、検討中の新企画を含む。）に関するご案内、広告宣伝又はセミナー、イベント、キャンペーン等の当社が皆様に有用と考えるお知らせの提供、及びこれらに対するお問い合わせへの対応のため</li>
                    <li>お客様の状況や当社サービス等内でのログ情報を用いたレコメンド等、お客様の利便性向上を目的とする機能の提供のため</li>
                    <li>当社サービス等のセキュリティ確保上必要な場合又は事件・事故が発生した場合の調査、ご報告又はご連絡のため</li>
                    <li>当社サービス等の不正な利用行為の防止、当該行為者の特定、当該行為に対する対応その他当社サービス等に関する紛争、トラブル等への対応のため</li>
                    <li>詐欺、サイバー攻撃、その他違法行為又は不正な行為を防止及び調査、当該行為者の特定、並びに、当該行為に対する対応のため</li>
                    <li>メンテナンス情報、規約の変更その他の重要なご連絡等、当社サービス等を運用する上で必要なお知らせの提供のため</li>
                    <li>当社サービス等（今後提供される新サービス等を含む。）の開発、検討、研究及びマーケティング等への利用のため</li>
                    <li>取材、アンケート、キャンペーン又はモニター等の依頼のため</li>
                    <li>当社又は当社サービス等に関するご意見・お問い合わせへの回答、並びに当社サービス等又はお客様に関する情報の訂正、更新等への対応のため</li>
                </ol></li>
                <li>資料請求、トライアル、その他当社サービス等に関するお問い合わせを頂いた方に関する個人情報
                    <ol class="mt-2 ml-3 list-decimal list-inside">
                        <li>お問い合わせへの対応のため</li>
                        <li>当社サービス等に関するご案内又は当社が皆様に有用と考えるお知らせの提供のため</li>
                        <li>アンケートの送付のため</li>
                        <li>ログ情報を用いたレコメンド等、お客様の利便性向上を目的とする機能の提供のため</li>
                        <li>当社サービス等又は媒体運営の改善に必要なデータの解析又は分析のため</li>
                        <li>当社の対応の品質向上及びお問い合わせ内容等の正確な把握のため</li>
                    </ol>
                </li>
                <li>イベント又はセミナー等の参加者様に関する個人情報
                    <ol class="mt-2 ml-3 list-decimal list-inside">
                        <li>イベント・セミナー等の運営管理のため（共同開催企業、協賛企業への参加者情報提供を含みます。）</li>
                        <li>当社及び提携会社のサービス等、商品、イベント、セミナー情報等のご案内のため</li>
                        <li>アンケートの送付のため</li>
                        <li>イベント、セミナー及び当社サービス等の改善並びに新規サービス開発に必要なデータの解析又は分析のため</li>
                    </ol>
                </li>
                <li>当社のパートナー様に関する個人情報
                    <ol class="mt-2 ml-3 list-decimal list-inside">
                        <li>パートナー等の選定、契約手続、パートナー等の管理及びこれらに付随する業務の遂行のため</li>
                        <li>当社サービス等に関するご案内又は当社が皆様に有用と考えるお知らせの提供のため</li>
                    </ol>
                </li>
                <li>当社に来訪される方に関する個人情報<br>
                    <p class="ml-3 mt-2">当社担当者との連絡及び入退室の管理のため</p>
                </li>
                <li>当社の採用活動にご応募・ご参加いただく方（以下「応募者」といいます。）に関する個人情報
                    <ol class="mt-2 ml-3 list-decimal list-inside">
                        <li>書類選考及び面接に際し、応募者が当社の求める人物像・スキル・経験値等と合致されているかを判断するため</li>
                        <li>応募者に対し、面接の日程調整等のご連絡を差し上げるため</li>
                        <li>当社の今後の採用方針を策定する際に必要な統計データを作成するため</li>
                        <li>応募者に対し、当社における雇用機会やイベント等に関する情報を提供するため</li>
                    </ol>
                </li>
            </ol>
            
            <h3 class="mt-5 text-rose-700 font-bold">第２条　個人情報の提供</h3>
            <ol class="mt-2 list-decimal list-inside text-sm space-y-3">
                <li>第三者提供<br>
                    当社は、次に掲げる場合を除くほか、本人の同意を得ることなく個人データを第三者へ提供しません。
                    <ol class="mt-2 ml-3 list-decimal list-inside">
                        <li>法令に基づく場合</li>
                        <li>人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であると判断した場合</li>
                        <li>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であると判断した場合</li>
                        <li>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることによって当該事務の遂行に支障を及ぼす恐れがあると判断した場合</li>
                        <li>利用目的達成に必要な範囲内において個人データの取扱いの全部又は一部を委託するに伴い個人データを提供する場合</li>
                        <li>合併その他の事由による事業の承継に伴って個人データが提供される場合</li>
                        <li>特定の者との間で共同して利用する個人データを当該特定の者に提供する場合であって、その旨並びに共同して利用する個人データの項目、共同して利用する者の範囲、利用する者の利用目的及び当該個人データの管理について責任を有する者の氏名又は名称について、予め、本人に通知し、又は本人が容易に知り得る状態に置いているとき</li>
                    </ol>
                </li>
                <li>委託先の監督<br>
                    当社が個人データの取扱いの全部又は一部を委託（お客様からみた場合の再委託以降を含みます。以下同じ。）する場合は、委託された個人データの安全管理が図られるよう、委託を受けた者に対する必要かつ適切な監督を行います。
                </li>
            </ol>
            
            <h3 class="mt-5 text-rose-700 font-bold">第３条　共同利用</h3>
            <p class="text-sm mt-2">当社は、以下の通り、応募者の個人データを共同利用することがあります。</p>
            <ol class="mt-2 list-decimal list-inside text-sm space-y-3">
                <li>共同して利用される情報の項目
                    <ol class="mt-2 ml-3 list-decimal list-inside">
                        <li>氏名</li>
                        <li>会社・組織名</li>
                        <li>役職</li>
                        <li>電話番号・メールアドレスなどのご連絡先</li>
                    </ol>
                </li>
                <li>共同して利用する者の範囲<br>
                    株式会社サティスファクトリー及び株式会社サティスファクトリーのグループ会社
                </li>
                <li>共同して利用する者の利用目的<br>
                    弊社サービス「シンゲン」を、有益かつ適切にお客様に提供するため
                </li>
                <li>個人情報の管理責任者<br>
                    株式会社サティスファクトリー　代表取締役 小松武司
                </li>
            </ol>
            
            <h3 class="mt-5 text-rose-700 font-bold">第４条　第三者による情報取得に関する免責事項</h3>
            <p class="text-sm mt-2">以下に該当する場合、第三者による個人情報の取得に関し、当社は何らの責任を負いません。</p>
            <ol class="mt-2 list-decimal list-inside text-sm space-y-3">
                <li>お客様が当社サービス等の機能等を利用し、第三者に個人情報を公開した場合</li>
                <li>当社サービス等にログインする為に必要な識別情報（メールアドレス及びパスワード等）を、ご本人以外が何らかの方法により取得した場合</li>
                <li>当社に故意又は過失がない場合</li>
            </ol>

            <h3 class="mt-5 text-rose-700 font-bold">第５条　クッキー等の使用及び利用状況・属性情報等の取得について</h3>
            <p class="text-sm mt-2">当社は、お客様の利便性の向上、統計データの取得及び適切な広告の提供等を目的として、Cookie（これに類する技術を含み、以下「クッキー」といいます。）の使用、並びにお客様のIPアドレス、アクセス回数、ご利用ブラウザ及びOSその他利用端末等の情報の収集を行うことがあります。これらの情報は、当該目的のために収集するものであり、個人を特定する目的での利用は行っておりません。<br>
                クッキーには、当社ウェブサイトのドメインにより設定されるものと、当社と提携する第三者によって設定されるものの2種類があります。後者に関し、当社と提携する広告配信サービス提供会社により、当社のオンライン広告を最適な場所に掲載することができるよう設定されることがあります。</p>

            <h3 class="mt-5 text-rose-700 font-bold">第６条　個人データの開示等</h3>
            <ol class="mt-2 list-decimal list-inside text-sm space-y-3">
                <li>個人情報保護法の規定にもとづき、ご本人から個人データの利用目的の通知、開示、内容の訂正、追加若しくは削除、又は、利用の停止、消去若しくは第三者への提供の停止（以下「開示等」と総称します。）をご請求いただいた場合、当社は、ご本人からのご請求であることを確認の上、特別の理由がない限り、遅滞なく開示等を行います（対象となる個人データが存在しない場合又は正当な理由に基づき開示等を行わない決定を行った場合は、その旨を通知します。）。</li>
                <li>個人データの開示等のご請求は、第9条に規定するお問合わせ窓口のお問い合わせフォームから行ってください。個人データの開示及び利用目的の通知につきましては、当社所定の手数料（1件あたり3,000円）が必要となりますので、予めご了承ください。</li>
                <li>開示等のご請求に際して取得した個人情報は、ご請求に必要な範囲内のみで適切に取り扱います。
                </li>
            </ol>

            <h3 class="mt-5 text-rose-700 font-bold">第７条　安全管理措置に関する事項</h3>
            <p class="text-sm mt-2">当社は、以下の安全管理措置を講じることにより、個人情報への不正アクセス、個人情報の紛失、破壊、改ざん、漏洩等に対応しています。</p>
            <ol class="mt-2 list-decimal list-inside text-sm space-y-3">
                <li>当社内における安全管理措置<br>
                    当社は、個人データを取り扱う情報システムを外部からの不正アクセス又は不正ソフトウェアから保護する仕組みの導入等、取り扱う個人情報の漏洩、滅失又は毀損の防止その他の個人情報の安全管理のために必要かつ適切な措置を講じています。
                </li>
                <li>従業者の監督<br>
                    当社は、当社の従業者に個人情報を取り扱わせるに当たっては、当該個人情報の安全管理が図られるよう、当該従業者に対する個人情報の取扱いに係る規則や社内記録等を整備し、取扱状況を定期的に点検するとともに、当該従業者に対する定期的な研修等の必要かつ適切な監督を行います。
                </li>
                <li>委託先の監督<br>
                    当社は、個人情報の取扱いの全部又は一部を委託する場合は、委託した個人情報の安全管理が図られるよう、委託先たる事業者と必要な契約の締結等の必要かつ適切な監督を行います。
                </li>
                <li>外的環境の把握<br>
                    当社は、外国において個人情報を取り扱うに当たっては、定期的に当該国の個人情報保護制度に関する情報を収集し把握した上で、安全管理措置を講じています。
                </li>
            </ol>

            <h3 class="mt-5 text-rose-700 font-bold">第８条　個人情報管理責任者</h3>
            <p class="text-sm mt-2">お預かりした個人情報は、以下の個人情報管理責任者が責任をもって管理いたします。<br><br>
                    株式会社サティスファクトリー　代表取締役　小松武司</p>

            <h3 class="mt-5 text-rose-700 font-bold">第９条　お問い合わせ窓口</h3>
            <p class="text-sm mt-2">株式会社サティスファクトリー<br>
                〒104-0032 東京都中央区八丁堀三丁目12番8号 HF八丁堀ビル<br>
                代表取締役　小松　武司<br><br>
                お問い合わせは、当社公式Webサイトの<a href="/contact" class="text-rose-700 underline">お問い合わせフォーム</a>よりお願いいたします。
            </p>
        </section>
    </div>
</main>