---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
	<div class="grid gap-6 row-gap-10 md:grid-cols-2">
		<div class="md:pb-6 md:pr-16">
			<h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading">
				サーキュラーエコノミー
			</h2>
			<div class="">
				<p>大量生産・大量消費型の経済社会活動は、大量廃棄型の社会を形成し、健全な物質循環を阻害するほか、気候変動問題、天然資源の枯渇、大規模な資源採取による生物多様性の破壊など様々な環境問題にも密接に関係しています。</p>
				<p class="mt-5">サーキュラーエコノミーは、従来の3Rの取組に加え、資源投入量・消費量を抑えつつ、ストックを有効活用しながら、サービス化等を通じて付加価値を生み出す経済活動であり、資源・製品の価値の最大化、資源消費の最小化、廃棄物の発生抑止等を目指すものです。</p>
				<p class="mt-5">資源制約、資源価格の高騰また技術の革新等を背景に従来は廃棄物として扱われていたモノが資源物として価値を持つようになってきています。事業活動におけるサーキュラーエコノミーの構築に向けた取り組みは、原材料調達戦略及び新たな事業機会の創出となります。</p>
				<p class="mt-5">シンゲンは、サーキュラーエコノミーの構築に向けた排出事業者様とリサイクラー・処理業者様の資源物・廃棄物の効率的な管理をサポートいたします。</p>
			</div>
		</div>
		<div class="relative">
			<Picture
				class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
				src={import('~/assets/images/astronaut.jpg')}
				widths={[400, 768]}
				sizes="(max-width: 768px) 100vw, 432px"
				alt="Astronaut"
				aspectRatio="432:768"
			/>
		</div>
	</div>
</section>
