---
---

<span class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	width="60%" viewBox="0 0 992 176" enable-background="new 0 0 992 176" xml:space="preserve">
<path fill="currentColor" opacity="1.000000" stroke="none" 
   d="
M556.468628,177.000000 
   C560.012085,164.828415 562.337341,152.227219 565.359070,139.807999 
   C572.035339,112.368790 578.416809,84.857895 584.930054,57.378979 
   C586.267578,51.736149 585.992249,51.307941 580.284668,51.295578 
   C568.122314,51.269230 555.958252,51.398766 543.798279,51.227562 
   C540.089722,51.175350 538.249268,52.184582 537.129944,56.062077 
   C530.008057,80.734596 509.100189,96.274933 483.301453,96.327118 
   C478.692413,96.336449 474.024811,96.927017 468.797394,95.633934 
   C470.116180,88.189720 471.321045,80.883568 472.720123,73.614807 
   C474.600891,63.843307 475.663116,53.818947 480.747437,44.950752 
   C491.332733,26.487513 506.951233,16.165442 528.535706,15.653653 
   C533.662781,15.532085 538.795166,15.635631 544.050903,15.635631 
   C545.114441,19.743376 543.546265,23.220949 542.954712,26.717577 
   C541.796570,33.562496 541.718384,33.668808 548.839050,33.671154 
   C587.159058,33.683777 625.479065,33.677670 663.799072,33.699051 
   C665.929688,33.700237 668.115906,33.386192 670.145081,34.228027 
   C670.207764,41.366062 664.530823,48.811577 656.099915,50.038677 
   C648.881958,51.089237 646.977722,54.801182 645.569153,61.041222 
   C640.154541,85.027718 634.103638,108.869698 628.528442,132.821060 
   C623.383545,154.923813 609.996704,169.140991 588.438721,175.853470 
   C587.805664,176.050583 587.206848,176.357315 586.296021,176.806473 
   C576.312439,177.000000 566.624878,177.000000 556.468628,177.000000 
z"/>
<path fill="currentColor" opacity="1.000000" stroke="none" 
   d="
M818.468628,177.000000 
   C825.634583,163.902161 834.539062,151.633133 842.868896,138.990372 
   C861.468628,110.760574 880.240051,82.643951 898.900330,54.453979 
   C910.886658,36.346420 927.625000,27.339884 949.397705,27.638975 
   C959.726013,27.780857 970.058167,27.635128 980.388245,27.687738 
   C982.141907,27.696671 984.031067,27.211029 985.668274,28.475592 
   C985.961792,30.572945 984.518555,31.894838 983.542236,33.366970 
   C958.224182,71.543289 932.659851,109.559044 907.668335,147.947708 
   C898.302002,162.335129 886.338745,172.419434 869.316040,176.828674 
   C852.312439,177.000000 835.624878,177.000000 818.468628,177.000000 
z"/>
<path fill="currentColor" opacity="1.000000" stroke="none" 
   d="
M105.468658,177.000000 
   C126.543503,138.492416 148.131836,100.009827 169.612076,61.466991 
   C180.769485,41.446781 197.362350,30.594536 220.580154,30.579685 
   C232.361771,30.572149 244.143387,30.578367 255.729294,30.578367 
   C256.872498,32.676952 255.535095,33.815998 254.856583,35.034527 
   C234.119812,72.275543 213.251846,109.443962 192.641434,146.754654 
   C184.290512,161.872208 171.909744,171.601822 155.269592,176.773560 
   C138.645767,177.000000 122.291542,177.000000 105.468658,177.000000 
z"/>
<path fill="currentColor" opacity="1.000000" stroke="none" 
   d="
M320.468658,177.000000 
   C337.058258,151.359314 354.098907,125.706871 371.183075,100.083458 
   C378.493347,89.119354 388.901886,83.834030 401.981293,83.703110 
   C409.550262,83.627335 417.120636,83.689339 424.445496,83.689339 
   C425.239471,86.562691 423.888367,87.784164 423.007782,89.112068 
   C408.284698,111.313698 393.349457,133.377563 378.877441,155.741302 
   C372.916382,164.952896 366.027649,172.670654 355.258118,176.779358 
   C343.645782,177.000000 332.291534,177.000000 320.468658,177.000000 
z"/>
<path fill="currentColor" opacity="1.000000" stroke="none" 
   d="
M72.999207,36.099617 
   C57.197720,36.102760 41.895992,36.131355 26.594408,36.096348 
   C20.511580,36.082432 19.652159,34.828247 22.070980,29.400730 
   C24.952593,22.934769 29.973030,18.834000 37.066666,18.754829 
   C59.184723,18.507982 81.307320,18.664198 103.428146,18.679550 
   C104.569038,18.680342 105.769005,18.599503 106.687531,19.492620 
   C106.396790,27.499012 101.007034,33.699631 92.898170,35.415253 
   C86.469963,36.775295 79.963707,35.827400 72.999207,36.099617 
z"/>
<path fill="currentColor" opacity="1.000000" stroke="none" 
   d="
M79.901024,94.327690 
   C60.097874,94.336380 40.780075,94.359520 21.462303,94.343826 
   C15.383388,94.338890 14.202841,92.290451 17.119822,86.778976 
   C20.451746,80.483505 25.970730,76.969246 32.852180,76.887634 
   C55.161121,76.623070 77.475578,76.822243 99.787880,76.860695 
   C100.090302,76.861214 100.392311,77.094704 100.693176,77.222702 
   C102.750053,86.740891 93.794334,94.283379 79.901024,94.327690 
z"/>
<path fill="currentColor" opacity="1.000000" stroke="none" 
   d="
M749.807007,35.405472 
   C752.893555,25.707014 758.581055,21.161928 768.775513,21.042669 
   C789.604248,20.799013 810.438110,21.018717 831.268982,20.900856 
   C835.622986,20.876223 835.942322,23.010506 834.945374,26.299223 
   C832.950684,32.879269 826.265747,38.239456 819.248291,38.285110 
   C797.417603,38.427139 775.585571,38.374710 753.754089,38.360096 
   C751.986511,38.358913 749.864746,38.623928 749.807007,35.405472 
z"/>
<path fill="currentColor" opacity="1.000000" stroke="none" 
   d="
M319.600769,91.255554 
   C307.002472,91.260979 294.860352,91.293823 282.718750,91.230392 
   C277.685242,91.204102 276.801086,89.505188 279.391235,85.240822 
   C281.352356,82.012039 284.399506,79.957405 287.957123,79.897377 
   C302.224274,79.656654 316.497864,79.797874 330.690826,79.797874 
   C331.823303,86.217377 328.384247,89.760208 319.600769,91.255554 
z"/>
<path fill="currentColor" opacity="1.000000" stroke="none" 
   d="
M689.517578,15.838676 
   C692.744385,15.439175 693.314575,17.108067 693.304565,19.423212 
   C693.275696,26.081587 693.461853,32.745499 693.248169,39.397102 
   C693.055298,45.401783 688.849609,50.124847 683.246521,51.677013 
   C680.368347,52.474316 678.996033,51.557072 678.992371,48.742977 
   C678.983337,41.756367 678.848511,34.753540 679.268982,27.787687 
   C679.637756,21.677483 683.269470,17.757988 689.517578,15.838676 
z"/>
<path fill="currentColor" opacity="1.000000" stroke="none" 
   d="
M710.990295,15.845125 
   C712.444336,16.427233 712.791016,17.394432 712.797485,18.396559 
   C712.846680,26.039244 713.557190,33.715668 712.335571,41.309238 
   C711.317017,47.640263 706.558533,51.429195 699.467651,51.785145 
   C698.023315,48.912174 698.775757,45.725609 698.693359,42.674526 
   C698.567688,38.018543 698.569397,33.354481 698.681335,28.697800 
   C698.855347,21.458351 703.155273,16.854258 710.990295,15.845125 
z"/>
</svg>
</span>
